@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,600&display=swap');


html,
body,
#root,
.app{
    font-family: "Open Sans",sans-serif;
}

@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .input {
        @apply sm:flex-1 max-sm:w-full text-base leading-normal text-gray-400 pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:text-gray-400 max-sm:rounded-full;
    }
}

@layer utilities {
    .padding {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
        @apply sm:px-16 px-8;
    }

    .padding-y {
        @apply sm:py-24 py-12;
    }

    .padding-l {
        @apply sm:pl-16 pl-8;
    }

    .padding-r {
        @apply sm:pr-16 pr-8;
    }

    .padding-t {
        @apply sm:pt-24 pt-12;
    }

    .padding-b {
        @apply sm:pb-24 pb-12;
    }

    .info-text {
        @apply text-gray-400 text-lg leading-7;
    }
}

.HeroImg{
    border:2px solid black;
}
.glass-container {
    backdrop-filter: blur(10px);
    /* Adjust the blur as needed */
    background: rgba(255, 255, 255, 0.2);
    /* Adjust the opacity as needed */
}
.card {
    
    color: #aeacbc;
    letter-spacing: 0.08em;
    font-weight: 500;

    padding: 60px;
    display: grid;
    gap: 60px;

    border-radius: 24px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.25),
        inset 0px 1px 2px rgba(255, 255, 255, 0.25),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03);
    background-color: rgba(255, 255, 255, 0.05);
}
.card1{

    color: #aeacbc;
    letter-spacing: 0.08em;
    font-weight: 500;
    padding: 60px;
    display: grid;
    gap: 60px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.25),
        inset 0px 1px 2px rgba(255, 255, 255, 0.25),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03);
    background-color: white
}
.img1 {
    overflow: hidden;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.img1:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);

}








